html {
    line-height: 21px;
    font-size: 16px;
    font-family: sans-serif;
    padding: var(--s0);
}

:root {
    --cPath: #ffe2b8;
    --cValue: #c9fcb7;
    --cWorkspace: #c5e8ff;
    --cAuthor: #f6cdff;
}

.cPath { background: var(--cPath); }
.cValue { background: var(--cValue); }
.cWorkspace { background: var(--cWorkspace); }
.cAuthor { background: var(--cAuthor); }
code {
    background: #ddd;
    padding: 4px 7px;
    margin: 2px;
    border-radius: 3px;
    border: 1px solid #aaa;
    display: inline-block;
    word-break: break-all;
    font-size: 16px;
}
pre {
    background: #ddd;
    padding: 4px 7px;
    margin: 2px;
    border-radius: 3px;
    border: 1px solid #888;
    word-break: break-all;
    white-space: pre-wrap;
}

a {
    text-decoration: underline !important;
}
a.active {
    font-weight: bold;
}
summary {
    display: list-item; /* ensure the disclosure triangle is shown */
    cursor: pointer;
}
summary h3 {
    display: inline;
}