html {
    line-height: 21px;
    font-size: 16px;
    font-family: sans-serif;
}

:root {
    --cKey: #ffd699;
    --cValue: #afff93;
    --cWorkspace: #c5e8ff;
    --cAuthor: #f7c0ff;
}

.cKey { background: var(--cKey); }
.cValue { background: var(--cValue); }
.cWorkspace { background: var(--cWorkspace); }
.cAuthor { background: var(--cAuthor); }
code {
    background: #ddd;
    padding: 4px 7px;
    margin: 2px;
    border-radius: 3px;
    border: 1px solid #aaa;
    display: inline-block;
    word-break: break-all;
    font-size: 16px;
}
pre {
    background: #ddd;
    padding: 4px 7px;
    margin: 2px;
    border-radius: 3px;
    border: 1px solid #888;
    word-break: break-all;
    white-space: pre-wrap;
}

a code {
    text-decoration: underline;
}
td { vertical-align: top; }